## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret